<h3> <%=@burner.name%> Events | <%=percent_time_with(@burner.events)%>%</h3>
<ul>
  <% @burner.events.each do |event| %>
    <li><a href="/events/<%= event.id %>"><%= event.name %> </a> |
    <%= event.duration%> hrs</li>
  <% end %>
</ul>
