<h3> <%=params[:slug].capitalize%> Events | <%=percent_time_with(@events)%>%</h3><br>
<ul>
  <% @events.each do |event| %>
    <li><a href="/events/<%= event.id %>"><%= event.name %> </a> |
    <%= event.duration%> hrs</li>
  <% end %>
</ul>
