<p> Here are your events, <%= @user.name %>
<ul>
  <% @user.events.each do |event| %>
    <li><a href="/events/<%= event.id %>"><%= event.name %> </a></li>
  <% end %>
</ul>

<ul>
  <% @user.burners.each do |burner| %>
    <li><a href="/burners/<%= burner.slug %>"><%= burner.name %> </a></li>
  <% end %>
</ul>
