<h1>Edit <%= @event.name %></h1>

<form action="/events/<%= @event.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name"> Name </label>
  <input type="text" name="name" id="name" value="<%= @event.name %>"><br><br>

  <label> Description </label><br>
  <textarea type="text" name="description"><%= @event.description %></textarea><br><br>

  <label> Date </label><br>
  <input id="date" type="date" value="<%= @event.date %>"><br><br>

  <label> Duration </label><br>
  <input type="number" name="hours" id="hours" min="0" max="24" value="<%= @event.duration.to_s.split('.').first %>"> <strong>.</strong>
  <select name="split" id="split">
    <option value=".0" <%='selected' if @event.duration.to_s.split('.').last == '0' %>>0</option>
    <option value=".25" <%='selected' if @event.duration.to_s.split('.').last == '25' %>>25</option>
    <option value=".5" <%='selected' if @event.duration.to_s.split('.').last == '5' %>>5</option>
    <option value=".75" <%='selected' if @event.duration.to_s.split('.').last == '75' %>>75</option>
  </select> hr(s)<br><br>

  <label> Choose Your Event's Burner(s)  </label><br>
  <% Burner.all.each do |burner| %>
    <input type="checkbox" name="burner_ids[]" value="<%= burner.id %>" id="<%= burner.name %>" <%='checked' if @event.burners.include?(burner) %>><%=burner.name%></input>
  <% end %><br><br>

  <input type="submit" value="Save">
</form>
