<h1>Edit <%= @event.name %></h1>

<form action="/events/<%= @event.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name</label>
  <input type="text" name="event[name]" id="name" value="<%= @event.name %>"><br>

  <input type="checkbox" name="public" <%='checked' if @event.public%>>Public</input><br><br>

  <label> Event Description </label><br>
  <textarea type="text" name="description" value="<%= @event.description %>"> </textarea><br><br>

  <label> Choose a Burner </label><br>
  <% current_user.burners.each do |burner| %>
    <input type="radio" name="burner" value="<%= burner.id %>" <%='checked' if burner.events.include?(@event) %>><%=burner.name%></input>
  <% end %><br><br>

  <input type="submit" value="Save">
</form>
