<h3>Your Events</h3><br>
<table style="table-layout:fixed" width="600">
  <col style="width:50%" span="1">
  <tr>
    <th><center>Friends</center></th>
    <th><center>Family</center></th>
  </tr>
  <tr>
    <td>
      <%if users_events["Friends"].empty?%>
        <a href="events/new">Schedule some time with friends</a>
      <%else%>
        <% users_events["Friends"].each do |event| %>
          <li> <a href="/events/<%= event.id %>"> <%= event.name %> </a> | <%=event.date%></li>
        <% end %>
      <% end %>
    </td>
    <td>
      <%if users_events["Family"].empty?%>
        <a href="events/new">Schedule some time with family</a>
      <%else%>
        <% users_events["Family"].each do |event| %>
          <li> <a href="/events/<%= event.id %>"> <%= event.name %> </a> | <%=event.date%></li>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
<br>
<table style="table-layout:fixed" width="600">
  <col style="width:50%" span="1">
  <tr>
    <th><center>Work</center></th>
    <th><center>Health</center></th>
  </tr>
  <tr>
    <td>
      <%if users_events["Work"].empty?%>
        <a href="events/new">Schedule some time for business</a>
      <%else%>
        <% users_events["Work"].each do |event| %>
          <li> <a href="/events/<%= event.id %>"> <%= event.name %> </a> | <%=event.date%></li>
        <% end %>
      <% end %>
    </td>
    <td>
      <%if users_events["Health"].empty?%>
        <a href="events/new">Schedule a some time to take care of yourself</a>
      <%else%>
        <% users_events["Health"].each do |event| %>
          <li> <a href="/events/<%= event.id %>"> <%= event.name %> </a> | <%=event.date%></li>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
