<h3><%=current_user.name%>'s Events</h3>
<p>Friends</p>
<% @users_events.each do |event| %>
  <li> <%='<a href="/events/<%= event.id %>"> <%= event.name %> </a> | <%=event.date%>' if event.burner.find_by(name: "Friends")%></li>
<% end %>
