<h1>Add a New Event</h1>

<form action="/events" method="POST">
  <label> Name </label>
  <input type="text" name="name"><br><br>

  <label> Description </label><br>
  <textarea type="text" name="description"> </textarea><br><br>

  <label> Date </label><br>
  <input name="date" id="date" type="date" value="<%=Date.today%>"><br><br>

  <table>
    <tr>
      <th>Time Start</th>
      <th>Time Finish</th>
    </tr>
    <tr>
      <td><input name = "start_time" id="time" type="time" value="<%=Time.now.localtime.hour%>:<%=Time.now.localtime.min%>"></td>
      <td><input name = "end_time" id="time" type="time" value="<%=Time.now.localtime.hour < 23 ? Time.now.localtime.hour + 1 : Time.now.localtime.hour %>:<%=Time.now.localtime.min%>"></td>
    </tr>
  </table><br><br>

  <label> Choose Your Event's Burner(s) </label><br>
  <% Burner.all.each do |burner| %>
    <input type="checkbox" name="burners[]" value="<%= burner.id %>" id="<%= burner.name %>"> <%=burner.name%></input>
  <% end %><br><br>

  <input type="submit" value="Create">
</form>
