<h1> <%= @event.name %> </h1>

<a href="/users/<%= @event.user.id %>"> <%= @event.user.name %> </a>

<% @event.burners.each do |burner| %>
  <a href="/burners/<%= burner.slug %>"><%= burner.name %> </a>
<% end %>

<form method="post" action="/events/<%=@event.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Event">
</form>

<a href="/events/<%=@event.id%>/edit">Edit Event </a>
